h3:first-child {
  color: pink;
}

.yellow {
  color: yellow;
}

#greycol {
  color: grey;
}

p:nth-last-child(2) {
  color: green;
}

p:only-child {
  color: red;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
}

table {
  background-color: lawngreen;
}

thead {
  background-color: lightcoral;
}

td:hover {
  background-color: darkgreen;
  color: white;
}

th:hover {
  background-color: darkred;
  color: white;
}
